.vis-panel {
    width: 100%;
    background: #000;

    .col-tool-form {
        max-width: 25%;
        margin-top: 46px;

        .tool-form {
            position: relative;
            .title,
            .content,
            .control {
                padding: 1.25rem;
            }
        }
    }
}